ion-card.custom-card {
    background-color: gray;  // Color de fondo
    border-radius: 16px;  // Radio de borde
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);  // Sombra
    padding: 10px;  // Relleno interno
  
    ion-card-header {
      font-size: 14px;  // Tamaño de fuente del encabezado
      color: whitesmoke; 
      padding: 12px; // Color del texto del encabezado
    }

    ion-item {
      --background: #f2f2f2; 
    }

    ion-card-title {
        font-size: 14px;
        color: whitesmoke;
        padding: 2px;  
    }
  
    ion-label {
      font-size: 12px;  // Tamaño de fuente del contenido
      color: whitesmoke;  // Color del texto del contenido
     
    }

    ion-card-subtitle {
      font-size: 16px;
      color: whitesmoke;
      padding: 2px;  
    }
  }

  ion-content {
    --background: #f2f2f2; /* Cambia #f2f2f2 por el color que desees */
  }