<ion-menu contentId="main-content" auto-hide="true">
  <ion-header>
    <ion-toolbar>
      <ion-list>
        <ion-list-header>
          <ion-title>Perfiles</ion-title>
        </ion-list-header>
        <ion-item routerLink="/producto">
          <ion-label>Conductor</ion-label>
        </ion-item>
        <ion-item routerLink="/pasajero">
          <ion-label>Pasajero</ion-label>
        </ion-item>
      </ion-list>
    </ion-toolbar>
  </ion-header>
  <ion-footer>
    <ion-item routerLink="/perfil">
      <ion-label>Ver Perfil</ion-label>
    </ion-item>
    <ion-item routerLink="/index">
      <ion-label>Cerrar sesión</ion-label>
    </ion-item>
  </ion-footer>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Viaja Seguro App</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-card-header>
      <ion-card-title class="ion-text-center login-tittle"><h1>Bienvenido,</h1></ion-card-title>  
    </ion-card-header>
    <ion-card class="custom-card">
      <ion-card-header>
        <ion-card-title>Viaje reservado</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label>Destino: {{destino}} </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Nombre: {{nombre}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Vehiculo: {{vehiculo}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Patente: {{patente}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Celular: {{telefono}}</ion-label>
        </ion-item>
        <!-- Agregar más campos según los datos del perfil -->
      </ion-card-content>
    </ion-card>
  </ion-content>

